@font-face {
  font-family: TwcentMed-midp;
  src: url(items/TwCenMTStd-LightItalic.otf);
}
@font-face {
  font-family: TwcentMed;
  src: url(items/century-725-bt.ttf);
}
@font-face {
  font-family: TwcentMed-top;
  src: url(items/century-731-bt.ttf);
}
@font-face {
  font-family: Shakespeare;
  src: url(items/Hamletornot-K7y7.ttf);
}

body {
  margin: 0;
 font-family: TwcentMed;
 background-color: rgb(250, 250, 250);
}

.topbar {
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #D45648;
  position: fixed;
  opacity: 1;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}

.topbar-left {
  color: #fff;
  margin-left: 4vw;
  display:flex;
  flex-direction: row;
}
.topbar-left p {
  color: #fff;
  font-weight: 700;
  font-size: larger;
  padding-left: 1vw;
}

.topbar-right {
  margin-right: 4vw;
  display:flex;
  flex-direction: row;
  vertical-align: middle;
}
.topbar-right a {
  color: #fff;
  text-decoration: none;
  padding-right: 3vw;
  margin:auto;
  font-size: smaller;
  font-weight: 700;
}

.search-main {
  margin-top: 9vh;
  height: 85vh;
  background-image: url(items/school.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  font-family: TwcentMed-top;
}

.search-main button, input {
  font-family: TwcentMed-top;
}

.search-main-items {
  margin:auto;
  flex-direction: column;
}

.search-main-items h1 {
  color: white;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-self:center;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  background:rgba(0,0,0,0.07);
}
.search-main-items button {
  display: flex;
  margin:auto;
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 700;
  
}
.search-in {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4rem;
  border-radius: 1rem;
  flex-direction: column;
}

.input-of-main {
  display: flex;
}

.input-of-main input[type=submit] {
  background-color: #D45648;
  color:white;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 700;
}

.input-of-main input[type=text] {
  line-height: 34px;
  width: 45rem;
}

.search-in label {
  color: rgb(63, 63, 63);
  font-weight: 800;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  background:rgba(0,0,0,0.02);
}

.mid-four-header {
  color: #D45648;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10vh;
}

.mid-four {
  display: grid;
  width: 80vw;
  height: 80vh;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 1fr 1fr;
  column-gap: 20vw;
  row-gap: 10vh;
  margin:auto;
  color:rgb(63, 63, 63);
  margin-bottom: 10vh;
}

.mid-four p {
  font-family: TwcentMed-midp;
  font-size: larger;
}

.mid-search, .mid-locate, .mid-apply, .mid-relax {
  text-align: center;
}

.trio {
  display: grid;
  height: 160vh;
  width: 100%;
  grid-template-rows: 35% 35% 40%;
  row-gap: 0;
}

.trio-first { 
  background-color: #E27F65;
  display:flex;
  justify-content: space-between;
}
.trio-first-left, .trio-second-left {
  margin-top: 11vh;
  margin-left: 6vw;
  color: #fff;
  font-size: larger;
}
.trio-first-left button {
  background-color: #fff;
  color:#E27F65;
  padding: 1rem 3rem 1rem 3rem;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  margin-top:4vh;
}

.trio-first-right {
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  height: 40vh;
  margin-top: 7vh;
  margin-right: 5vw;
}
.trio-second-left button {
  background-color: #fff;
  color:#99A5A6;
  padding: 1rem 3rem 1rem 3rem;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  margin-top:4vh;
}

.trio-second {
  background-color: #99A5A6;
  display:flex;
  justify-content: space-between;
}

.trio-second-right img {
  border-radius: 50%;
  height: 45vh;
  margin-top: 5vh;
  margin-right: 2vw;
}

.trio-third {
  background-color: #519CD8;
  display:flex;
  justify-content: space-between;
}

.trio-third-left {
  margin-top: 16vh;
  margin-left: 6vw;
  color: #fff;
  font-size: larger;
}

.trio-third-left button {
  background-color: #fff;
  color:#99A5A6;
  padding: 1rem 3rem 1rem 3rem;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  margin-top:4vh;
}

.trio-third-right img {
  border-radius: 0.5rem;
  height: 58vh;
  margin-top: 3.5vh;
  margin-right: 2vw;
}

.trio-third p {
  font-family: Shakespeare;
  font-size: larger;
}